
<div class="pb-3">
  <h3>Create Employee</h3>
</div>

<form [formGroup]="employeeForm" (submit)="onSubmit()">

  <div class="mb-5">

    <div class="form-group">
      <div class="form-row">
        <div class="col-sm-2 pt-1">
          <label for="full_name">Full name</label>
        </div>
        <div class="col-sm-10">
          <input formControlName="fullName" id="full_name" class="form-control" type="text">
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="form-row">
        <div class="col-sm-2 pt-1">
          <label for="email">Email</label>
        </div>
        <div class="col-sm-10">
          <input formControlName="email" id="email" class="form-control" type="text">
        </div>
      </div>
    </div>

    <div class="form-group" formGroupName="skills">

      <div class="form-group">
        <div class="form-row">
          <div class="col-sm-2 pt-1">
            <label for="skill_name">Skill</label>
          </div>
          <div class="col-sm-5">
            <input type="text" id="skill_name" class="form-control" placeholder="Skill name…"
              formControlName="skillName">
          </div>
          <div class="col-sm-5">
            <input type="text" class="form-control" placeholder="Expirience in years…"
              formControlName="expirienceInYears">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="form-row">
          <div class="col-sm-2" [style.paddingTop.px]="3">
            <label>Proficiency</label>
          </div>
          <div class="col-sm-10">
            <div class="form-check form-check-inline">
              <input id="inlineRadio1" value="beginner" type="radio" class="form-check-input"
                formControlName="proficiency">
              <label for="inlineRadio1" class="form-check-label">Beginner</label>
            </div>
            <div class="form-check form-check-inline">
              <input id="inlineRadio2" value="intermediate" type="radio" class="form-check-input"
                formControlName="proficiency">
              <label for="inlineRadio2" class="form-check-label">Intermediate</label>
            </div>
            <div class="form-check form-check-inline">
              <input id="inlineRadio3" value="advanced" type="radio" class="form-check-input"
                formControlName="proficiency">
              <label for="inlineRadio3" class="form-check-label">Advanced</label>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
  <div class="buttons-block mb-5">
    <button type="submit" class="btn btn-dark">Submit</button>
    <hr/>
    <button type="button" class="btn btn-success">Save data</button>{{''}}
    <button type="button" class="btn btn-secondary" (click)="onLoadDataClick()">Load data</button>{{''}}
    <button type="button" class="btn btn-secondary" (click)="onPatchDataClick()">Patch data</button>
  </div>

</form>


<div class="py-3">
  <table class="table">
    <tr>
      <th>Form Group</th>
      <th>Form Control (fullName)</th>
    </tr>
    <tr>
      <td>
        touched: {{ employeeForm.touched }} <br/>
        dirty: {{ employeeForm.dirty }} <br/>
        valid: {{ employeeForm.valid }} <br/>
        Form Values: {{ employeeForm.value | json }} <br/>
      </td>
      <td>
        touched: {{ employeeForm.get('fullName').touched }}<br/>
        dirty: {{ employeeForm.get('fullName').dirty }}<br/>
        valid: {{ employeeForm.get('fullName').valid }}<br/>
        Full Name Value: {{ employeeForm.get('fullName').value }}<br/>
      </td>
    </tr>
  </table>
</div>
