<div class="reactive-forms-test">

  <h4>Change values</h4>
  <hr/>

  <div class="card mb-3">{{course | json}}</div>

  <input class="form-control mb-3" type="text" [(ngModel)]="course.title">
  <input class="form-control mb-3" type="text" [(ngModel)]="course.description">
  <input class="form-control mb-3" type="text" [(ngModel)]="course.teacher">

  <button class="btn btn-dark btn-set-title mb-3" (click)="updateCourseLink()">Update student card</button>{{''}}
  <button class="btn btn-light mb-3" (click)="changeValue()">Change detection value</button>

  <app-course-card [course]="course"></app-course-card>
  <app-student-card [course]="course"></app-student-card>

  <hr />

  <app-encounter></app-encounter>

</div>
