<div class="sidebar">
  <nav class="navigation">
    <h4 class="navigation-group">Building blocks</h4>
    <a routerLinkActive="active-link" routerLink="/building-blocks/input">Inputs</a>

    <hr/>

    <h4 class="navigation-group">Sandbox</h4>

    <a routerLinkActive="active-link" routerLink="/sandbox/dashboard">Dashboard</a>
    <a routerLinkActive="active-link" routerLink="/sandbox/setting">Setting</a>
    <a routerLinkActive="active-link" routerLink="/sandbox/contact-form">Contact Form</a>
    <a routerLinkActive="active-link" routerLink="/sandbox/query-decorator">Query Decorator</a>
    <a routerLinkActive="active-link" routerLink="/sandbox/template-ref-selectors">TemplateRef selectors</a>
    <a routerLinkActive="active-link" routerLink="/sandbox/view-container-ref">ViewContainerRef</a>
    <hr/>

  </nav>
</div>
