<div class="sidebar">
  <nav class="navigation">
    <h4 class="navigation-group">Building blocks</h4>
    <a routerLinkActive="active-link" routerLink="/building-blocks/input-decorator">Input decorator</a>
    <a routerLinkActive="active-link" routerLink="/building-blocks/output-decorator">Output decorator</a>
    <a routerLinkActive="active-link" routerLink="/building-blocks/paywall-directive-widget">Paywall directive widget</a>


    <hr class="my-1"/>

    <h4 class="navigation-group">Quering the UI</h4>
    <a routerLinkActive="active-link" routerLink="/quering-the-ui/query-decorator">Query decorator</a>
    <a routerLinkActive="active-link" routerLink="/quering-the-ui/template-ref-selector">TemplateRef selector</a>
    <a routerLinkActive="active-link" routerLink="/quering-the-ui/view-container-ref">View Container Ref</a>
    <a routerLinkActive="active-link" routerLink="/quering-the-ui/selector-options">
      <span cpa-tooltip tooltipText="ViewChild technic">Selector Options</span>
    </a>
    <a routerLinkActive="active-link" routerLink="/quering-the-ui/selector-options-descendants">Selector Options Descendants</a>
    <a routerLinkActive="active-link" routerLink="/quering-the-ui/dependency-injection">Dependency Injection</a>
    <a routerLinkActive="active-link" routerLink="/quering-the-ui/quering-list">Quering list</a>

    <hr class="my-1"/>

    <h4 class="navigation-group">Manipulating the UI</h4>
    <a routerLinkActive="active-link" routerLink="/manipulating-the-ui/view-encapsulation">View Encapsulation</a>
    <a routerLinkActive="active-link" routerLink="/manipulating-the-ui/pipe-widget">Pipe Widget</a>

    <hr class="my-1"/>

    <h4 class="navigation-group">Learn RxJS</h4>
    <a routerLinkActive="active-link" routerLink="/learn-rxjs/basics">Basics</a>

    <hr class="my-1"/>

    <h4 class="navigation-group">Reactive forms</h4>
    <a routerLinkActive="active-link" routerLink="/reactive-forms/basic-forms">Reactive forms basics</a>
    <a routerLinkActive="active-link" routerLink="/reactive-forms/dynamic-forms">Dynamic forms</a>

    <hr class="my-1"/>

    <h4 class="navigation-group">Patterns and Technics</h4>
    <a routerLinkActive="active-link" routerLink="/patterns-and-technics/change-detection-strategies">Change Detection Strategies</a>

    <hr class="my-1"/>

    <h4 class="navigation-group">Store Using</h4>
    <a routerLinkActive="active-link" routerLink="/using-store/students">Students</a>
    <a routerLinkActive="active-link" routerLink="/using-store/subjects">Subjects</a>
    <a routerLinkActive="active-link" routerLink="/using-store/teachers">Teachers</a>

    <hr class="my-1"/>

  </nav>
</div>
