@import "variables";
@import "mixins";

.sidebar {
  padding-top: $spacer;
  padding-right: $spacer;
  width: 280px;
  height: calc(100vh - 80px);
  overflow-y: scroll;

  .navigation-group {
    padding-top: $spacer/2;
    font-size: .75rem;
    line-height: 20px;
    color: $gray-500;
  }

  a, a:link, a:visited {
    display: block;
    padding: 0 0 $spacer/4;
    padding-left: 2px;

    &:hover {
      text-decoration: none;
    }

    &.active-link {
      color: $primary;
    }
  }
}
