<div class="sidebar">
  <nav class="navigation">
    <h4 class="navigation-group">Building blocks</h4>
    <a routerLinkActive="active-link" routerLink="/building-blocks/input-decorator">Input decorator</a>
    <a routerLinkActive="active-link" routerLink="/building-blocks/output-decorator">Output decorator</a>
    <a routerLinkActive="active-link" routerLink="/building-blocks/paywall-directive-widget">Paywall directive widget</a>


    <hr/>

    <h4 class="navigation-group">Quering the UI</h4>
    <a routerLinkActive="active-link" routerLink="/quering-the-ui/query-decorator">Query decorator</a>
    <a routerLinkActive="active-link" routerLink="/quering-the-ui/template-ref-selector">TemplateRef selector</a>
    <a routerLinkActive="active-link" routerLink="/quering-the-ui/view-container-ref">View Container Ref</a>
    <a cpa-tooltip tooltipText="ViewChild technic" routerLinkActive="active-link" routerLink="/quering-the-ui/selector-options">Selector Options</a>
    <a cpa-tooltip tooltipText="ViewChild technic" routerLinkActive="active-link" routerLink="/quering-the-ui/selector-options-descendants">Selector Options Descendants</a>

    <hr/>

    <h4 class="navigation-group">Sandbox</h4>
    <a routerLinkActive="active-link" routerLink="/sandbox/dashboard">Dashboard</a>
    <a routerLinkActive="active-link" routerLink="/sandbox/setting">Setting</a>
    <a routerLinkActive="active-link" routerLink="/sandbox/contact-form">Contact Form</a>
    <a routerLinkActive="active-link" routerLink="/sandbox/query-decorator">Query Decorator</a>
    <a routerLinkActive="active-link" routerLink="/sandbox/template-ref-selectors">TemplateRef selectors</a>
    <a routerLinkActive="active-link" routerLink="/sandbox/view-container-ref">ViewContainerRef</a>
    <hr/>

  </nav>
</div>
