@import "variables";
@import "mixins";

.sidebar {
  padding-top: $spacer;
  padding-right: $spacer;
  width: 240px;

  .navigation-group {
    padding-top: 20px;
    font-size: .75rem;
    line-height: 20px;
    font-weight: 600;
    color: $gray-600;
  }

  a, a:link, a:visited {
    display: block;
    padding: $spacer/4 0;
    padding-left: 5px;

    &:hover {
      text-decoration: none;
    }

    &.active-link {
      color: $primary;
    }
  }
}
