
<div class="pb-3">
  <h3>Create Employee</h3>
</div>

<form [formGroup]="employeeForm" (submit)="onSubmit()">

  <div class="mb-5">

    <div class="form-group">
      <div class="form-row">
        <div class="col-sm-2 pt-1">
          <label for="full_name">Full name</label>
        </div>
        <div class="col-sm-10">
          <input formControlName="fullName" id="full_name" class="form-control" type="text">
          <span *ngIf="employeeForm.get('fullName').errors && employeeForm.get('fullName').errors.required" class="invalid-feedback">
            This field is required.
          </span>
          <span *ngIf="employeeForm.get('fullName').errors && (employeeForm.get('fullName').errors.minlength || employeeForm.get('fullName').errors.maxlength)" class="invalid-feedback">
            Full name must be greater than 2 characters and less than 10.
          </span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="form-row">
        <div class="col-sm-2 pt-1">
          <label for="email">Email</label>
        </div>
        <div class="col-sm-10">
          <input formControlName="email" id="email" class="form-control" type="text">
          <span *ngIf="employeeForm.get('email').errors && employeeForm.get('email').errors.required" class="invalid-feedback">
            This field is required.
          </span>
        </div>
      </div>
    </div>

    <div class="form-group" formGroupName="skills">

      <div class="form-group">

        <div class="form-row">
          <div class="col-sm-2 pt-1">
            <label for="skill_name">Skill</label>
          </div>
          <div class="col-sm-5">
            <input type="text" id="skill_name" class="form-control" placeholder="Skill name…"
              formControlName="skillName">
            <span *ngIf="employeeForm.get('skills').get('skillName').errors && employeeForm.get('skills').get('skillName').errors.required" class="invalid-feedback">
              This field is required.
            </span>
          </div>
          <div class="col-sm-5">
            <input type="text" class="form-control" placeholder="Expirience in years…"
              formControlName="expirienceInYears">
            <span *ngIf="employeeForm.get('skills').get('expirienceInYears').errors && employeeForm.get('skills').get('expirienceInYears').errors.required" class="invalid-feedback">
              This field is required.
            </span>
          </div>
        </div>

      </div>

      <div class="form-group">
        <div class="form-row">
          <div class="col-sm-2" [style.paddingTop.px]="3">
            <label>Proficiency</label>
          </div>
          <div class="col-sm-10">
            <div class="form-check form-check-inline">
              <input id="inlineRadio1" value="beginner" type="radio" class="form-check-input"
                formControlName="proficiency">
              <label for="inlineRadio1" class="form-check-label">Beginner</label>
            </div>
            <div class="form-check form-check-inline">
              <input id="inlineRadio2" value="intermediate" type="radio" class="form-check-input"
                formControlName="proficiency">
              <label for="inlineRadio2" class="form-check-label">Intermediate</label>
            </div>
            <div class="form-check form-check-inline">
              <input id="inlineRadio3" value="advanced" type="radio" class="form-check-input"
                formControlName="proficiency">
              <label for="inlineRadio3" class="form-check-label">Advanced</label>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
  <div class="buttons-block mb-5">
    <button type="submit" class="btn btn-dark">Submit</button>
    <hr/>
    <button type="button" class="btn btn-success">Save data</button>{{''}}
    <button type="button" class="btn btn-secondary" (click)="onLoadDataClick()">Load data</button>{{''}}
    <button type="button" class="btn btn-secondary" (click)="onPatchDataClick()">Patch data</button>
    <button type="button" class="btn btn-secondary ml-3" (click)="onLogData()">Log data</button>{{''}}
    <button type="button" class="btn btn-secondary ml-3" (click)="onLogErrors()">Log errors</button>{{''}}
    <button type="button" class="btn" (click)="onDisable()"
      [ngClass]="{'btn-outline-danger': !disabled, 'btn-outline-success': disabled}">
      <span *ngIf="!disabled">Disable</span>
      <span *ngIf="disabled">Enable</span>
    </button>{{''}}
    <hr />
  </div>

</form>



<div class="py-2">
  <div class="row">

    <div class="col-md-6">
      <h4>Form Group</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Property</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>touched</td>
            <td><app-boolean-indicator [value]="employeeForm.touched"></app-boolean-indicator></td>
          </tr>
          <tr>
            <td>dirty</td>
            <td><app-boolean-indicator [value]="employeeForm.dirty"></app-boolean-indicator></td>
          </tr>
          <tr>
            <td>valid</td>
            <td><app-boolean-indicator [value]="employeeForm.valid"></app-boolean-indicator></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">

      <h4>Form Control (fullName)</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Property</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>touched:</td>
            <td><app-boolean-indicator [value]="employeeForm.get('fullName').touched"></app-boolean-indicator></td>
          </tr>
          <tr>
            <td>dirty:</td>
            <td><app-boolean-indicator [value]="employeeForm.get('fullName').dirty"></app-boolean-indicator></td>
          </tr>
          <tr>
            <td>valid:</td>
            <td><app-boolean-indicator [value]="employeeForm.get('fullName').valid"></app-boolean-indicator></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

<div class="py-2">
  <h4>Form Values</h4>
  <table class="table">
    <thead>
      <tr>
        <th>Property</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Full Name:</td>
        <td>{{ employeeForm.value.fullName }}</td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>{{ employeeForm.value.email }}</td>
      </tr>
      <tr>
        <td>Skill Name:</td>
        <td>{{ employeeForm.value.skills.skillName }}</td>
      </tr>
      <tr>
        <td>Expirience, years:</td>
        <td>{{ employeeForm.value.skills.expirienceInYears }}</td>
      </tr>
      <tr>
        <td>Proficiency:</td>
        <td>{{ employeeForm.value.skills.proficiency }}</td>
      </tr>
    </tbody>
  </table>
</div>
