<app-form-title [formTitleText]="'ViewContainerRef'"></app-form-title>

<p>get ng-template content with @ViewChid and insert it after certain element</p>

<button class="btn btn-dark" (click)="addTemplate1()">Add Template #1</button>{{' '}}
<button class="btn btn-dark" (click)="addTemplate2()">Add Template #2</button>{{' '}}
<button class="btn btn-link text-danger" [disabled]="vcr1IsEmpty()" (click)="clearVCR1()">Clear VCR1</button>{{' '}}
<button class="btn btn-link text-danger" [disabled]="vcr2IsEmpty()" (click)="clearVCR2()">Clear VCR2</button>{{' '}}

<hr *ngIf="!vcr1IsEmpty()" />
<div class="container-for-chips-1" #vcr1></div>

<hr *ngIf="!vcr2IsEmpty()" />
<div class="container-for-chips-2" #vcr2></div>

<ng-template #t1>
  <div class="chips">Template 1</div>
</ng-template>
<ng-template #t2>
  <div class="chips">Template 2</div>
</ng-template>
<ng-template #t3>
  <div class="chips">Template 3</div>
</ng-template>
