/* MODAL STYLES
-------------------------------*/
modal {
    /* modals are hidden by default */
    display: none;

    .modal {
        /* modal container fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        /* z-index must be higher than .modal-background */
        z-index: $zindex-modal;

        /* enables scrolling for tall modals */
        overflow: auto;


        .modal-body {
          padding: 20px;
          max-width: 700px;
          margin: 40px auto;
          background: $white;

          /* margin exposes part of the modal background */
          // margin: 40px;
          border-radius: $border-radius;

          &.modal-body-sm {
            max-width: 480px !important;
          }
        }
    }

    .modal-background {
        /* modal background fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        /* semi-transparent black  */
        background-color: $gray-900;
        opacity: 0.9;

        /* z-index must be below .modal and above everything else  */
        z-index: $zindex-modal-backdrop;
    }
}

body.modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
    .modal {
      display: block;
    }
}
