@import "~src/assets/scss/bootstrap/variables";
@import "~src/assets/scss/bootstrap/mixins";

.chips {
  padding: $spacer/2;
  background-color: $gray-100;
  border-radius: $border-radius;
  margin-bottom: $spacer/2;
}
