@import "variables";
@import "mixins";

.container-app {
  width: 100%;
  padding-top: $spacer;
  display: flex;

  @include media-max-width(md) {
    padding: $spacer/2 $spacer;
  }

  .navigation-container {
    position: relative;
    overflow: hidden;
  }

  .navigation-wrapper {
    // width: 300px;
    // position: relative;
    // overflow: hidden;
    opacity: 1;
    transform: translateX(0);
  }

  .workspace {
    position: relative;
    flex-grow: 1;
  }

  .additional-sidebar {
    width: 220px;
    position: relative;
  }

}
