@import "variables";
@import "mixins";

.container-app {
  width: 100%;
  padding-top: $spacer;
  padding-bottom: $spacer;
  display: flex;

  @include media-max-width(md) {
    padding: $spacer/2 $spacer;
  }

  .navigation-container {
    position: relative;
    overflow: hidden;

    &.navigation-container-sticky {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $white;
      z-index: 100;
      height: 100vh;
      box-shadow: 2px 0 6px rgba(0,0,0,0.1);

      .navigation-wrapper {
        padding-left: $spacer;
        padding-top: $spacer*3;
      }

    }
  }

  .navigation-wrapper {
    opacity: 1;
    transform: translateX(0);
  }

  .workspace {
    position: relative;
    flex-grow: 1;
    padding-top: 30px;
  }

  .additional-sidebar {
    width: 220px;
    position: relative;
  }

}
