<app-form-title
  [formTitleText]="widgetTitle"
></app-form-title>

<app-help-banner (help)="toggleHelp()" *ngIf="err && handler"></app-help-banner>
<app-help-banner *ngIf="err && !handler"></app-help-banner>

<section *ngIf="isHelpShowed" @enterLeaveAnimation class="help-alert-wrapper">
  <div class="helper-alert">
    Helper
    <div class="text-right">
      <button (click)="closeHelper()" class="btn btn-sm btn-outline-primary">Close</button>
    </div>
  </div>
</section>

<button (click)="toggleErr()" class="btn btn-primary">Toggle Error</button>{{' '}}
<button (click)="toggleHandler()" class="btn btn-primary">Toggle Handler</button>
