@import "variables";
@import "mixins";

.sidebar {
  padding-top: $spacer;
  padding-right: $spacer;
  width: 240px;

  a, a:link, a:visited {
    display: block;
    padding: $spacer/4 0;

    &.active-link {
      color: $primary;
      font-weight: bold;
    }
  }
}
