@import "variables";

.sidebar {
  padding-top: $spacer;
  padding-right: $spacer;
  width: 300px;

  a, a:link, a:visited {
    // color: $gray-600;
    display: block;
    padding: $spacer/4 0;

    &.active-link {
      color: $primary;
    }
  }
}
