@import "variables";

$bottomLineWeight: 1px;

.form-title {
  // padding-top: $spacer;
  padding-bottom: 20 - $bottomLineWeight;
  border-bottom: $bottomLineWeight solid $gray-300;
  margin-bottom: 2*$spacer;

  .form-title-text {
    font-size: $spacer;
    line-height: 1.5*$spacer;
    margin-bottom: 0;
  }
}
