<div class="board">
  <div class="contact-form">

    <app-form-title
      formTitleText="Contact form"
    ></app-form-title>

    <form>

      <section class="row mb-3">

        <div class="col-md-3 col-lg-2">
          <label [ngStyle]="{'margin-top.px': 4}" for="first_name" class="form-label">First name*</label>
        </div>

        <div class="col-md-5">
          <div class="form-field-control" [class.has-error]="!focused && firstName.touched && !firstName.valid">
            <input
              (focus)="onFocus()"
              (blur)="onBlur()"
              required
              minlength="3"
              maxlength="10"
              pattern="[a-zA-Z ]*"
              ngModel name="firstName" #firstName="ngModel"
              (change)="log(firstName)"
              type="text"
              id="first_name"
              class="form-control"
            >
            <div *ngIf="!focused && firstName.touched && !firstName.valid" class="message">
              <p class="message-text">
                <!-- <span *ngIf="firstName.errors.required">First name is required. </span> -->
                <span *ngIf="firstName.hasError('required')">First name is required. </span>
                <span *ngIf="firstName.hasError('minlength')">First name should be minimum {{ firstName?.errors.minlength.requiredLength}} characters. </span>
                <span *ngIf="firstName.hasError('pattern')">First name does not match the pattern. </span>
              </p>
            </div>
          </div>
        </div>

      </section>

      <section class="row mb-3">

        <div class="col-md-3 col-lg-2">
          <label [ngStyle]="{'margin-top.px': 4}" for="comment" class="form-label">Comment</label>
        </div>

        <div class="col-md-5">
          <div class="form-field-control">
            <textarea ngModel name="comment"  cols="30" rows="10" type="text" id="comment" class="form-control"></textarea>
          </div>
        </div>

      </section>

      <div class="mb-2">
        <button class="btn btn-primary">Submit</button>
      </div>
      <div class="mb-2">
        <button (click)="test()" class="btn btn-secondary">Log variable</button>
      </div>

    </form>
  </div>
</div>
