@import "variables";

.help-alert-wrapper {
  display: block;
  overflow: hidden;
}

.helper-alert {
  padding: $spacer;
  border-radius: $border-radius;
  background-color: $gray-100;
  margin-bottom: $spacer;
}
